body {
  padding: 50px;
}

p {
  margin: 0;
}

.list-group-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through;
}